.slider{

  /*background-image: url(https://www.solidbackgrounds.com/images/1920x1080/1920x1080-azure-solid-color-background.jpg);*/
  background-color: rgb(245, 245, 245);
  height: 50vh;
  background-size: cover;
  background-position: center;
}
.propiedad{
  color: rgb(0, 0, 0);
  padding: 0%;
  padding-right: 4px;
  height: 55vh;
  margin-top: 3vh;
}
.imagen{
  background-position: center;
  background-repeat: repeat;
  background-size:cover;
  height: 60%;
  width: 100%;
}
.descripcion{
  padding-right: 4px;
}

.titulo{
  font-size: larger;
  font-weight: bold;
}


.imagen:hover {
  border: 4px solid rgb(255, 255, 255);

}
