<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div class="container-fluid">
    <div class="row" style="background-color: rgb(0, 0, 0); height: 10vh;">

    </div>
  </div>

  <div class="container-fluid">
    <div class="row" style="background-color: rgb(255, 255, 255);">
      <div class="col-12">{{userData.rol}}</div>
      <div class="col-12">{{userData.nombre}}</div>
      <div class="col-12">{{userData.correo}}</div>
      <br><br>
      <div class="col-12" style="background-color: rgb(175, 170, 170);">Historial de compras</div>
        <div class="col-12" *ngFor="let compra of compras" style="margin-top: 2vh; margin-right: 2vh; background-color: rgb(252, 252, 252);">{{compra}}</div>


      <div class="col-12" style="background-color: rgb(175, 170, 170);">Listado de productos:</div>
      <div class="col-12" *ngFor="let producto of productos" style="margin-top: 2vh; margin-right: 2vh; background-color: rgb(252, 252, 252);" (mouseover)='carritoActivo=true' >
        <img width="200vw" height="150vh" src="{{producto.url}}" alt="Imagen del producto"><br>
        {{producto.producto}} &nbsp; {{producto.precio}} CCC &nbsp; {{producto.stock}} disponibles <br>
        <input id="newCarrito" *ngIf="carritoActivo" matInput min="1" pattern="^[0-9]+" type="number"  [(ngModel)]="cantidadCarrito">
        <button mat-icon-button (click)='newCarrito(producto.producto,producto.precio,cantidadCarrito)'>
            <mat-icon>shopping_cart</mat-icon>
        </button>


      </div>


      <div class="col-12" style="background-color: rgb(175, 170, 170);">Carrito:</div>
      <div class="col-12">
          <div class="row">
                <div class="col-6">
                    <div class="col-12" *ngFor="let carrito of carritos" style="margin-top: 2vh; margin-right: 2vh; background-color: rgb(226, 226, 226);">
                        {{carrito.producto}} <br> P/u: {{carrito.precio}} CCC <br> cantidad: {{carrito.cantidad}} <br> Total: {{carrito.total}} CCC <br><br>
                        <button mat-button class="enviar" (click)='confirmacion(carrito.producto,carrito.cantidad)'>Comprar</button> <br> <br>
                        <button mat-button class="cancelar" (click)='deleteCarrito(carrito.producto)'>Eliminar</button> <br> <br>

                      </div>
                </div>
                <div class="col-5 " *ngIf="compraActiva" style="background-color: rgb(239, 255, 208);margin-top: 2vh;">
                  <h1>Confirma tu compra</h1>
                  Ingresa tu contraseña <br>
                  <mat-form-field appearance="outline" style="padding-left: 0; padding-right: 0;">
                      <mat-label>Contraseña</mat-label>
                      <input matInput type="{{type}}" placeholder="password" [(ngModel)]='passCompra'>
                      <mat-icon matSuffix (click)="muestra()" style ="cursor: pointer;">{{icon}}</mat-icon>
                    </mat-form-field>
                    <button mat-button class="Confirmar" (click)='compra()'>Comprar</button> <br> <br>

                </div>

          </div>
      </div>

    </div>
  </div>
</body>
</html>

