#FormRegistro{
  z-index: 100;
  position: absolute;
  width: 34%;
  top: 25%;
  left: 61%;

}
.footer{
  z-index: 101;
  position: absolute;
  background-color: black;

  width: 100%;
  top: 115%;
  height: 60%;


}

.formularioContacto{
  display: inline-block;
  width: 100%;
  background-color: rgba(136, 136, 136, 0.801);

}

.mat-card-contacto{
  position: absolute;
  top: 2%;
  width: 25%;
  background-color:black;
}
.mat-card-nosotros{
  position: absolute;
  top: 2%;
  left: 35%;
  width: 25%;
  background-color:rgb(0, 0, 0);
}

.spacer{
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.errores{
  color: red;

}

mat-form-field{
  width: 100%;
}

#campo{
  margin-top: 2px;
  position: relative;
  width: 100%;
  height: 10%;
  color: white;

}

.contacto-titulo{
  font-size: 17px;
  color: white;
}
.nosotros-titulo{
  font-size: 17px;
  color: white;
}

.nosotros-texto{
  font-size: 12px;
  color: rgb(224, 224, 224);
}
.enviar{
  color: white;
  background-color: rgb(18, 27, 109);

}

.registrarse{
  color: white;
  background-color: rgb(33, 177, 5);

}

#blogo{

    display: flex;
    justify-content: center;
    align-items: center;

}

@media screen and (max-width: 575px){
#media{
  padding-left: 15%;
  padding-right: 15%;
}

}
