<!DOCTYPE html>
<html lang="es">
<head>
<title>Tutorial Bootstrap4 | Cosas Digitales |CRUD</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<style type="text/css">
 .slider{
 background-image: url(https://s1.1zoom.me/b5050/596/Evening_Forests_Mountains_Firewatch_Campo_Santo_549147_1920x1080.jpg);
 height: 100vh;
 background-size: cover;
 background-position: center;
 }
</style>
<link rel="shortcut icon" href="/src/assets/fondo.jpg" />
</head>
<body>

<content>
 <section class="container-fluid slider d-flex justify-content-center align-items-center">
  <article class="row">
  <h1 class="col-12 display-3 text-center text-secondary"> Practica de Estilización con B4 </h1>
  <h2 class="col-12 text-center">Sin Css!!</h2>
  </article>
 </section>




 <section class="container">

        <article class="mt-5 text-white text-center font-weight-bold font-italic text-uppercase">
          Kevin puso su título aquí. <br>
        </article>
        <article class="text-white" id="parrafo">
        Aliquid adipisci enim, dolore doloremque doloribus praesentium,
        maiores laboriosam amet eligendi sed blanditiis, quos excepturi eius sequi.
        Consectetur,labore et id magni cupiditate sint necessitatibus odit
        voluptatibus, laudantium velit temporibus. <br><br><br><br>
        </article>
        <article class="bg-black text-white p-4 w-25 float-left mr-1">
        Opciones:
            <nav class="nav nav-tabs">
            <ul class="list-unstyled">
            <li class="nav-item"><a class="nav-link active bg-warning" href="/web/entregable1">
            Expresiones 1</a></li>
            <li class="nav-item"><a class="nav-link active" href="/web/entregable1">
            Expresiones 2</a></li>
            <li class="nav-item"><a class="nav-link active bg-warning" href="/web/entregable1">
            Expresiones 3</a></li>
            </ul>
            </nav>
        </article>
        <article class="text-white text-justify">Modi ad fuga quos earum adipisci maiores, sint
        beatae, error eligendi nostrum, culpa. Qui nisi dolorum non odit possimus repudiandae
        eveniet aliquam inventore deleniti totam, est facere excepturi ea quo!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, qui
        voluptatum dicta rerum, nam adipisci laudantium officia excepturi totam cum maiores a
        iure at odit quas voluptate molestiae fuga dolores.
        <br>
        Officia necessitatibus corporis laboriosam deleniti aliquid sit voluptas
        reiciendis, aliquam cupiditate accusamus voluptate. Debitis dolore explicabo natus velit
        ratione, error nobis, harum voluptate cumque obcaecati eius, animi ducimus doloremque
        perspiciatis.
        At possimus aspernatur ab voluptatum nam aperiam excepturi aliquid, vitae
        ipsum commodi, nostrum corrupti iusto, nemo nesciunt hic iste. Consequuntur qui quaerat
        impedit recusandae quis nihil dolores labore odit ratione.
        <br>
        Officia necessitatibus corporis laboriosam deleniti aliquid sit voluptas
        reiciendis, aliquam cupiditate accusamus voluptate.
        <br>
        Debitis dolore explicabo natus velit ratione, error nobis, harum voluptate
        cumque obcaecati eius, animi ducimus doloremque perspiciatis.
        Modi ad fuga quos earum adipisci maiores, sint beatae, error eligendi nostrum,
        culpa. Qui nisi dolorum non odit possimus repudiandae eveniet aliquam inventore deleniti
        totam, est facere excepturi ea quo!
        </article>

 </section>
</content>

 <!-- Optional JavaScript -->
 <!-- jQuery first, then Popper.js, then Bootstrap JS -->
 <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
