<div class="container-fluid" style="z-index: 200;  position: fixed;">
  <div class="row" style="height: 10vh; background-color: black;" >
    <div class="col-6 col-sm-8 col-md-11" id="titulo">
      <h3>8B1 Store</h3> &nbsp; &nbsp; <div style="font-size: 1vw; font-family: cursive;">Ya pásenos profe</div>
    </div>
    <div class="col-6 col-sm-4 col-md-1" id="logout">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>perm_identity</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)='onLogout()'>
          <mat-icon>meeting_room</mat-icon>
          <span>Cerrar sesion</span>
        </button>

      </mat-menu>
    </div>
  </div>

</div>


